{% extends "base_generic.html" %}

{% block title %}
	<title>Home Page</title>
{% endblock %}

{% block content %}
<div class="home">
  <h1 class="heading">Local Library Home</h1> <hr/>
    <p class="intro">
	Welcome to LocalLibrary!</em>
	</p>
	<div class="dynamic">
	<h2>Dynamic content</h2>
	<p>The library has the following record counts:</p>
		<ul>
			<li><strong>Books:</strong> {{ num_books }}</li>
			<li><strong>Copies:</strong> {{ num_instances }}</li>
			<li><strong>Copies available:</strong> {{ num_instances_available }}</li>
			<li><strong>Authors:</strong> {{ num_authors }}</li>
			<li><strong>Genres:</strong> {{ num_genres }}</li>
			{% comment %} <li><strong>'The' books:</strong> {{ num_type }}</li> {% endcomment %}
		</ul>
	</div>
	<p class="visits">
		You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
	</p>
</div>
{% endblock %}

